body{
    background-color: #0F0018;
    transition: background-color 0.5s;
    margin: 0%;
}

.front{
    height: 100%;
}

.container{
    height: 75%;
    margin-top: 15%;
}

.footer{  
    height: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("./../assets/bg_contact.png");
    background-position: 0% 100%;
}

.nav_right{
    position: fixed;
    display: flex;
    top: 5%;
    border-radius: 100px;
    right:0.5%;
    width: 5%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s ease;
}