body{
    transition: background-color 0.5s;
}

.front{
    height: 100%;
}

.container{
    height: 75%;
    margin-top: 15%;
}

.footer{  
    height: 50%;
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url("./../assets/bg_contact.png");
    background-position: 0% 100%;
}

.nav_right{
    position: fixed;
    display: flex;
    top: 5%;
    border-radius: 50px;
    right:0.5%;
    width: 5%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color 0.5s ease;
    transition: height 0.5s ease;
}